*{
  box-sizing: border-box;
}

.header{
  background-color: orange;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
}

.header__logo{
  margin: 0;
}

.header__menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header__menu li{
  margin-left: 30px;
}

/* css cho tag Link tức dùng tag a */
.header__menu li a{ 
  font-weight: 700;
  color: #000;
  font-size: 18px;
}

/* khi tag a có thêm class active */
.header__menu li a.active{
  color: #fff;
}


.footer{
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}